ion-toolbar[color="light"] {
  --padding-top: 0;
  --padding-bottom: 0;
  margin: 0;
  --background: #4f46e5;
}

ion-segment {
  --padding-top: 0;
  --padding-bottom: 0;
  margin: 0;
}

ion-segment-button {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  margin: 0;
  --background: #e5e7eb;
  --background-checked: #3b82f6;
  --color: #374151;
  --color-checked: #ffffff;
}

