<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" href="/tabs/inventory">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Inex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button>
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
